table {
  width: 90%;
  color: var(--base);
}

.form-select {
  width: 13%;
}
.mat-elevation-z8{
  background-color: var(--c2);
  border: 1px solid var(--base);
}
.mdc-data-table__header-cell, .mdc-data-table__cell{
  color: var(--base);
  border-color: var(--base);
}
.mat-mdc-paginator{
  background-color: var(--c2);
  color: var(--base);
  border: solid 1px var(--base);
}