<div *ngIf="idDados < 0;else apagarItem">
  <h1 mat-dialog-title>Limpar Historico</h1>
  <div mat-dialog-content>
      <p>Deseja realmente limpar o histórico de conversões?</p>
      <p>Esta ação não poderá ser desfeita!</p>
  </div>
  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button mat-button color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="warn" mat-dialog-close (click)="apagarHistorico()" cdkFocusInitial>Limpar</button>
  </div>
</div>
<ng-template #apagarItem>
  <h1 mat-dialog-title>Deletar</h1>
  <div mat-dialog-content>
      <p>Deseja realmente apagar este item?</p>
      <p>Esta ação não poderá ser desfeita!</p>
  </div>
  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button mat-button color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="warn" mat-dialog-close (click)="deletarItem()" cdkFocusInitial>Deletar</button>
  </div>
</ng-template>