.navbar{
    background-color: var(--c1);
    color: var(--base);
}
.navbar-brand{
    color: var(--base);
    width: 265px;
}
.menu__item{
    color: var(--base);
}
.menu__item:hover{
    cursor: pointer;
    color: var(--c3);
}