<section class="p-4">
  <div class="container main-container p-3 flex-column d-flex">
    <h2>Conversor</h2>
    <mat-card>
      <mat-card-header>
        <mat-label>Data da Cotação</mat-label>
        <input mat-input type="date" value="{{data}}">
      </mat-card-header>
      <mat-card-actions>
        <input mat-input type="number" (keyup)="calc($event)">
        <button mat-button class="btn btn-danger" [matMenuTriggerFor]="convertFrom">{{moedaOrigem}}<mat-icon
            aria-hidden="false" fontIcon="expand_more" matSuffix></mat-icon></button>
        <mat-menu #convertFrom="matMenu">
          <button mat-menu-item *ngFor="let keyOrigem of arrayRates"
            (click)="changeNameOrigem(keyOrigem[0])">{{keyOrigem[0]}}</button>
        </mat-menu>
        <button mat-mini-fab color="primary"><mat-icon aria-hidden="false" fontIcon="sync_alt"
            matSuffix></mat-icon></button>
        <button mat-button class="btn btn-primary" [matMenuTriggerFor]="convertTo">{{moedaDestino}}<mat-icon
            aria-hidden="false" fontIcon="expand_more" matSuffix></mat-icon></button>
        <mat-menu #convertTo="matMenu">
          <mat-radio-group mat-menu-item>
            <mat-radio-button *ngFor="let keyDestino of arrayKeys" (click)="changeNameDestino(keyDestino)">
              {{keyDestino}}
            </mat-radio-button>
          </mat-radio-group>
        </mat-menu>
        <input mat-input value="{{resultado}}" type="number">
      </mat-card-actions>
    </mat-card>
  </div>
</section>