<section class="p-4">
  <div class="container main-container p-3 flex-column d-flex">
    <h2>Conversor</h2>
    <mat-card>
      <mat-card-header>
        <mat-label>Data da Cotação</mat-label>
        <input mat-input type="date">
      </mat-card-header>
      <mat-card-actions>
        <input mat-input type="text">
        <button mat-button class="btn btn-danger" [matMenuTriggerFor]="convertFrom">Convert From<mat-icon aria-hidden="false"
            fontIcon="expand_more" matSuffix></mat-icon></button>
        <mat-menu #convertFrom="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button mat-mini-fab color="primary"><mat-icon aria-hidden="false" fontIcon="sync_alt"
            matSuffix></mat-icon></button>
        <button mat-button class="btn btn-primary" [matMenuTriggerFor]="convertTo">Convert To<mat-icon aria-hidden="false"
            fontIcon="expand_more" matSuffix></mat-icon></button>
        <mat-menu #convertTo="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </mat-card-actions>
    </mat-card>
  </div>
</section>