/* You can add global styles to this file, and also import other style files */
:root{
    --c1: #264653;
    --c2: #2A9D8F;
    --c3: #E9C46A;
    --c4: #B4C2C6;
    --c5: #F4A261;
    --c6: #003954;
    --base: #E3EDF5;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
li{
    list-style: none
}
a{
    text-decoration: none;
}
body{
    background-color: var(--c6);
}
section{
    display: grid;
    place-items: center;
}
.main-container{
    background-color: var(--c2);
    border-radius: 10px;
    border: solid 5px var(--base);
    width: 40rem;
    color: var(--base);
    flex-wrap: wrap;
}