/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --c1: #264653;
    --c2: #2A9D8F;
    --c3: #E9C46A;
    --c4: #B4C2C6;
    --c5: #F4A261;
    --c6: #003954;
    --base: #E3EDF5;
}

[data-bs-theme="white"] {
    color: var(--base);
    border-color: var(--base);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li {
    list-style: none
}

a {
    text-decoration: none;
}

body {
    background-color: var(--c6);
}

.main-container {
    background-color: var(--c2);
    border-radius: 10px;
    border: solid 5px var(--base);
    width: 40rem;
    color: var(--base);
    flex-wrap: wrap;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-text-field {
    margin-bottom: -1.25em !important;
}

input[type="text"],
input[type="number"] {
    color: var(--base) !important;
}

.mat-elevation-z8 {
    background-color: var(--c2);
    border: 1px solid var(--base);
}

.mdc-data-table__header-cell,
.mdc-data-table__cell {
    color: var(--base);
    border-color: var(--base);
}

.mat-mdc-paginator {
    background-color: var(--c2);
    color: var(--base);
    border: solid 1px var(--base);
}

.mat-sort-header-arrow {
    color: var(--base);
}